extends ../_includes/layout

block variables
  - var template = 'contact'


block content
    .contact(data-background="#bc978c" data-color="#f9f1e7")
        .contact__wrapper
            h1=contact.data.contact

