extends ../_includes/layout

block variables
  - var template = 'contact'


block content
    .contact(data-background="#bc978c" data-color="#f9f1e7")
        .about__wrapper
            h2.about__title(data-animation="title")=contact.data.title[0].text
            form.form
              .form__group
                input#full_name.form__input(type='text' placeholder='Votre nom' required='')
                label.form__label(for='full_name') Votre nom

                input#email.form__input(type='email' placeholder='Votre adress e-mail' required='')
                label.form__label(for='email') Votre adress e-mail

                input#title.form__input(type='text' placeholder='Titre' required='')
                label.form__label(for='title') Titre

                textarea#message.form__input(placeholder='Votre message' required='', rows="15")
                label.form__label(for='message') Votre message

                button.navigation__list__link Envoyer
              
